* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* inizio debug*/

.debug .col{
    border: dotted 2px #000;
}

.debug header .topbar > div{
    background-color: #DAA520;
}

.debug #jumbotron{
    background-color: #00008B;
}

.debug #jumbotron .content{
    background-color: #EE82EE;
}

.debug main section{
    height: 600px;
}

.debug main section:last-child{
    height: 100px;
}

.debug .big-column{
    background-color: #1E90FF;
}

.debug .small-column{
    background-color: #FFC0CB;
}

.debug .full-column{
    background-color: #228B22;
}

.debug .footer-top{
    height: 600px;
}

.debug .main-column{
    background-color: #F08080;  
}

.debug .footer-top .menu-column .col{
    border: dotted 2px #fff;
    background-color: #20B2AA;
}

.debug .footer-bottom{
    background-color: #7FFFD4;
}

.debug .footer-bottom col{
    background-color: #FFC0CB;
}

/*fine debug*/

header{
    height: 548px;
    background-color: #ADD8E6;
}

header .topbar{
    height: 80px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

header .topbar > div{
    padding: 10px;
}

header .logo-column, header .login-column{
   width: 20%; 
} 

header .login-column{
    text-align: right;
}

header .menu-column{
    width: 60%;
}

header .menu-column ul{
   display: flex;
   justify-content: center; 
   list-style: none;
}

header .menu-column li{
    padding: 0 5px;
}

#jumbotron{
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

#jumbotron .content{
    height: 100%;
    width: 50%;
}

main section{
    padding: 50px;
}

.bg-grey{
    background-color: lightgrey;
}

section .container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.big-column{
    width: 60%;
}

.small-column{
    width: 40%;
}

.full-column{
    height: 100%;
    width: 100%;
}